<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEAL CLASSIFICATION</title>

</head>
<body>
        <form action="{{url_for('predict')}}"method="post">
                <p>CALORIE COUNT</p>
                <input type="number" name="calorie" placeholder="CALORIE COUNT">
                <br>

                <p>PROTEIN</p>
                <input type="number" name="protien" placeholder="PROTEIN CONTENT">
                <br>

                <p>CARBS</p>
                <input type="number" name="carb" placeholder="CARB COUNT"> 
                <br>

                <p>FAT</p>
                <input type="number" name="fat" placeholder="FAT CONTENT">
                <br>

                <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            </form>


            <b>{{prediction_text}} </b>

</body>
</html>
